.nav {
  grid-area: n;
  background-color: salmon;
  padding: 20px;
}

.item {
  color: white;
}

.item a {
  color: white;
  text-decoration: none;
}

.item .active{
  color: black;
}

.itemFriends {
  padding-top: 60px;
}

.itemFriends a{
  font-size: 28px;
  color: white;
  text-decoration: none;
}

