.app-wrapper {
  display: grid;
  grid-template-areas:
'h h'
'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: gainsboro;
}

/*.header {*/
/*  grid-area: h;*/
/*  background-color: aqua;*/
/*  width: 100vw;*/
/*}*/

/*.header img {*/
/*  height: 60px;*/
/*}*/

/*.nav {*/
/*  grid-area: n;*/
/*  background-color: gainsboro;*/
/*  height: 200px;*/

/*}*/

/*.profile {*/
/*  grid-area: p;*/
/*  background-color: gainsboro;*/
/*  height: 200px;*/
/*}*/


